<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.conandoylecollection"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_sherlock"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uk.co.conandoylecollection.main.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uk.co.conandoylecollection.main.MainActivity"/>
        <activity android:name="uk.co.conandoylecollection.main_acd.MainActivity"/>
        <activity android:name="uk.co.conandoylecollection.articles_acd.ACDArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.articles_holmes.HolmesArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.articles_aboutcollection.CollectionArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.articles_rlg.RLGArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.articles_sharingproject.SharingArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.main_aboutCollection.MainActivity"/>
        <activity android:name="uk.co.conandoylecollection.gallery_main.MainActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_agoodsport.AGoodSportArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_thepompeylad.ThePompeyLadArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_stitchingastory.StitchingAStoryArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_thelostworld.TheLostWorldArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_studyforsherlock.AStudyForSherlockArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_cottingleyfairies.TheCottingleyFairiesArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_grippingyarns.GrippingYarnsArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_catchathief.ToCatchAThiefArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.ex_articles_playingsherlock.PlayingSherlockHolmesArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.exhibitions.MainActivity"/>
        <activity android:name="uk.co.conandoylecollection.exhibitions.ListActivity">
		      <intent-filter>
		      <action android:name="android.intent.action.VIEW" />
		      <category android:name="android.intent.category.DEFAULT" />
		   </intent-filter>
		</activity> 
        <activity android:name="uk.co.conandoylecollection.articles_aboutexhibitions.AboutExhibitionsArticleActivity"/>
        <activity android:name="uk.co.conandoylecollection.gallery_acd.ACDGridLayoutActivity"/>
         <activity android:name="uk.co.conandoylecollection.gallery_acd.ACDFullScreenViewActivity"/>
        <activity android:name="uk.co.conandoylecollection.gallery_spiritualism.SpiritualismGridLayoutActivity"/>
        <activity android:name="uk.co.conandoylecollection.gallery_spiritualism.SpiritualismFullScreenViewActivity"/>
        <activity android:name="uk.co.conandoylecollection.map.MapActivity"/>
         <activity android:name="uk.co.conandoylecollection.contact.ContactActivity"/>
           
    </application>

</manifest>
